* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', "Microsoft YaHei", serif;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, #app {
    height: 100%;
}

/* 清除浮动 */
.clear-both {
    clear: both;
}

/* 可点击态 */
.cursor-pointer {
    cursor: pointer;
}

/* 水平垂直方向均居中 */
.row-col-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 全局过渡动画*/
.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}