* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', 'Heiti TC', serif;
    font-size: 14px;
}

/* 清除浮动 */
.clear-both {
    clear: both;
}

/* 可点击态 */
.cursor-pointer {
    cursor: pointer;
}

/* 水平垂直方向均居中 */
.row-col-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
