# application name
spring:
  application:
    name: cloud-storage-disk
  # active profile
  profiles:
    active: dev
  # database driver
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    # datasource name
    name: defaultDataSource
    # database connection pool config
    hikari:
      connection-timeout: 30000
      minimum-idle: 5
      maximum-pool-size: 15
      auto-commit: true
      idle-timeout: 30000
      pool-name: DateSourceHikariCP
      max-lifetime: 120000
  # unified time zone
  jackson:
    time-zone: GMT+8
  # static resources location
  web:
    resources:
      static-locations: classpath:/resources/,classpath:/static/,classpath:/templates/
  # max size of upload file and request
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  # redis config
  redis:
    port: 6379
    database: 1
    timeout: 5000
    lettuce:
      shutdown-timeout: 5000
      pool:
        max-active: 8
        max-idle: 8
        max-wait: 30
        min-idle: 0
# application web connection port
server:
  port: 8100